body{
    background-color: gray;
    position: relative;
}

h1{
    text-align: center;
    margin-top: 20px;
    color: aliceblue;
}
form {
    position: fixed;
    bottom: 450px;
    right: 30%;
    left: 30%;
    border-radius: 8px;
    color: #000;
   
  }

 label{
    font-size: 20px;
 }

  .items {
    position: fixed;
    top: 250px;
    right: 30%;
    left: 30%;
    border-radius: 8px;
  }

  
  .completedTodo {
    background-color: rgb(155, 23, 23);
    text-decoration: line-through;
  } 
  .image{
    border-radius: 100%;
    height: 100px;
    margin-top: 10px;
  }
